<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4 font-title animate__animated animate__pulse text-center">
    Quản lý người dùng
  </h1>
  <h3 class="text-danger">Thêm mới người dùng</h3>
  <hr />
</div>

<div class="container mb-5">
  <form [formGroup]="userForm" (ngSubmit)="createUser(userForm)">
    <div class="form-group">
      <label>Tên người dùng</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập vào tên người dùng"
        formControlName="userName"
      />
    </div>
    <div class="form-group">
      <label>Địa chỉ email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Nhập vào địa chỉ email"
        formControlName="userEmail"
      />
      <small>Nhập đúng định dạng mail</small>
    </div>
    <div class="form-group">
      <label>Số điện thoại</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập vào số điện thoại"
        formControlName="userPhone"
      />
    </div>
    <div class="form-group">
      <label
        >Link avatar
        <button
          type="button"
          class="btn btn-sm btn-info rounded-circle"
          data-toggle="modal"
          data-target="#staticBackdrop"
        >
          <i class="far fa-images"></i></button
      ></label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập vào đường dẫn avatar"
        formControlName="userAvatar"
      />
    </div>

    <hr />
    <button
      type="button"
      class="btn btn-secondary mr-2"
      (click)="backClicked()"
    >
      <i class="fas fa-arrow-left"></i> Trở lại
    </button>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">
      <i class="fas fa-user-plus"></i> Thêm vào
    </button>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Avatar</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary" role="alert">
          <h6>Avatar Nam</h6>
          <ul>
            <li>
              https://cdn2.vectorstock.com/i/1000x1000/72/31/male-avatar-profile-icon-round-african-american-vector-18307231.jpg
            </li>
            <li>
              https://cdn3.vectorstock.com/i/1000x1000/72/27/male-avatar-profile-icon-round-man-face-vector-18307227.jpg
            </li>
          </ul>
          <h6 class="text-danger">Avatar Nữ</h6>
          <ul>
            <li>
              https://cdn4.vectorstock.com/i/1000x1000/72/98/female-avatar-profile-icon-round-african-american-vector-18307298.jpg
            </li>
            <li>
              https://cdn5.vectorstock.com/i/1000x1000/72/79/female-avatar-profile-icon-round-african-american-vector-18307279.jpg
            </li>
            <li>
              https://cdn2.vectorstock.com/i/1000x1000/72/86/female-avatar-profile-icon-round-woman-face-vector-18307286.jpg
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
