<!-- Navbar    -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">
    <img
      src="https://cdn.worldvectorlogo.com/logos/w.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
      loading="lazy"
    />
    Web service <span class="badge badge-danger">Demo</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link btn btn-warning text-light dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Nội dung về Web Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            target="_blank"
            href="https://viettuts.vn/web-service/web-service-la-gi"
            >Web service là gì?</a
          >
          <a
            class="dropdown-item"
            target="_blank"
            href="https://text.relipasoft.com/2017/05/co-ban-ve-rest-va-restful-api/"
            >Kiến trúc RESTful</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            target="_blank"
            href="https://medium.com/velacorpblog/l%C3%A0m-quen-v%C3%A0-x%C3%A2y-d%E1%BB%B1ng-restfull-api-crud-%C4%91%C6%A1n-gi%E1%BA%A3n-v%E1%BB%9Bi-spring-boot-5cb812245d2b"
            >Xây dựng Web service</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer  -->
<footer class="text-light text-center bg-info">
  &copy; 2020-20xx Hà Việt Tùng
</footer>
