<div class="pricing-header mx-auto">
  <h3 class="display-4 font-title animate__animated animate__pulse text-center">
    Demo
  </h3>
</div>
<hr />
<div class="container">
  <div class="album py-5">
    <div class="row">
      <!-- CRUD api  -->
      <div class="col-md-4 animate__animated animate__fadeIn">
        <div class="card text-white bg-danger mb-4 shadow-lg">
          <img src="/assets/img/CRUD.jpg" class="card-img-top p-1" alt="Hình" />
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">CRUD Api</h4>
          </div>
          <div class="card-body">
            <p class="mb-4">Api về Thêm/Xem/Sửa/Xoá <b></b></p>

            <a
              routerLink="/crud"
              type="button"
              class="btn btn-secondary btn-lg btn-block"
            >
              Xem demo
            </a>
          </div>
        </div>
      </div>
      <!-- Movies api  -->
      <div class="col-md-4 animate__animated animate__fadeIn">
        <div class="card text-white bg-dark mb-4 shadow-lg">
          <img
            src="/assets/img/Movies.jpg"
            class="card-img-top p-1"
            alt="Hình"
          />
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Movies Api</h4>
          </div>
          <div class="card-body">
            <p class="mb-4">Api về các bộ Phim</p>

            <a
              routerLink="/movie"
              type="button"
              class="btn btn-success btn-lg btn-block"
            >
              Xem demo
            </a>
          </div>
        </div>
      </div>
      <!-- Weather api  -->
      <div class="col-md-4 animate__animated animate__fadeIn">
        <div class="card text-white bg-success mb-4 shadow-lg">
          <img
            src="/assets/img/Waether.jpg"
            class="card-img-top p-1"
            alt="Hình"
          />
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Weather Api</h4>
          </div>
          <div class="card-body">
            <p class="mb-4">Api về thời tiết</p>

            <a
              routerLink="/weather"
              type="button"
              class="btn btn-danger btn-lg btn-block"
            >
              Xem demo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
